* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #072540;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

a {
  color: inherit;
  text-decoration: none;
}

main > * {
  grid-column: 2;
}

article:hover > a, article > a:focus {
  background-color: rgba(147, 194, 219, .20);
  outline: none;
}

article:first-child > a {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

article:last-child > a {
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

@media screen and (max-width: 500px) {
  header {
    flex-direction: column !important;
  }
}
